.card {
  transition: .3s;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;

}
.card-body {
    color: #6D757D;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .5);
}
.card-img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}
.social-icon {
    line-height: 2;
}
.social-icon span {
    padding-left: 20px;
    font-size: 18px;
    color: #6D757D;
}
.social-icon a span:hover{
  color: blue;
}